<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page_title}"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    <meta name="_csrf" content="${_csrf.token}" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.parameterName}" th:content="${_csrf.parameterName}"/>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/angular-1.7.5.min.js"></script>
    <script src="/js/rent.js"></script>
    <script src="/js/popper.js"></script>

</head>
<body ng-app="rents" ng-controller="RentController">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h5 class="navbar-brand" th:text="#{title}"></h5>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{language}"/>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/?lang=ru">Русский</a></li>
                        <li><a class="dropdown-item" href="/?lang=en">English</a></li>
                    </ul>
              </ul>
            <a sec:authorize="isAnonymous()" class="d-flex btn btn-outline-success" href="/login" th:text="#{sign_in}"></a>
            <form sec:authorize="isAuthenticated()" name="logoutForm" th:action="@{/logout}" method="post">
                <input type="submit"  class="d-flex btn btn-outline-success" th:value="#{sign_out}"/>
            </form>
        </div>
    </div>
</nav>

<div class="row" style="margin-left: 3em; margin-right: 3em" sec:authorize="isAuthenticated()">
    <div class="col">
        <form ng-submit="updateRent()">
            <h2 align="center" th:text="#{changeappatment}"></h2>
            <div class="form-group" align="center">
                <input type="number" class="form-control" ng-model="updatedId" name="flat_id" th:placeholder="#{enterid}">
            </div>
            <div class="form-group" align="center">
                <input type="text" class="form-control" ng-model="updatedAddress" name="address" th:placeholder="#{enteradress}">
            </div>
            <div class="form-group" align="center">
                <input type="number" class="form-control" ng-model="updatedCost" name="cost" th:placeholder="#{entercost}">
            </div>
            <div class="form-group">
                <select name="status" ng-model="updatedStatus"  class="form-control">
                    <option selected>Свободна</option>
                    <option >Арендована</option>
                </select>
            </div>
            <div class="form-group" align="center">
                <button type="submit" class="btn btn-primary" th:text="#{changebtn}"></button>
            </div>
        </form>
    </div>
    <form role="form" ng-submit="addRent()">
        <h2 align="center"th:text="#{addrent}"></h2>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="address" name="address" id="address" th:placeholder="#{enteradress}">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" ng-model="cost" name="cost" id="cost" th:placeholder="#{entercost}">
        </div>
        <div class="form-group">
            <select name="status" class="form-control" id="status" ng-model="status">
                <option selected>Свободна</option>
                <option >Арендована</option>
            </select>
        </div>
        <div class="form-group" align="center">
            <button type="submit" class="btn btn-primary" th:text="#{addbtn}"></button>
        </div>
    </form>
</div>
</div>
<div ng-controller="getRents" ng-show="rentsList.length > 0">
    <table id="rentsTable" class="container">
        <thead>
        <tr>
        <tr>
            <th scope="col">#</th>
            <th scope="col" th:text="#{address}"></th>
            <th scope="col" th:text="#{cost}"></th>
            <th scope="col" th:text="#{status}"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rent in rentsList" id="{{rent.id}}">
            <td>{{rent.id}}</td>
            <td>{{rent.address}}</td>
            <td>{{rent.cost}}</td>
            <td>{{rent.status}}</td>
            <td sec:authorize="isAuthenticated()"><input type="button" class="btn btn-danger" th:value="#{delbtn}" ng-click="deleteRent(rent.id)"/></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="alert alert-danger" role="alert" ng-show="errormessage">{{errormessage}}</div>

</body>
</html>
